{% extends "Basis.html" %}
{% load staticfiles %}

{% block title %}Start{% endblock %}
{% block navbar-class %}container-fluid{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 {# text-center #}" style="border-bottom: 2px solid #ccc;">
            <h1>Roamer</h1>
        </div>
    </div>

    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-md-12">
            <h2>My Robots</h2>
            {% if user.robot_set.all %}
                <table id="myRobotsTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Model</th>
                            <th>Manufacturer ID</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in user.robot_set.all %}
                        <tr>
                            <td>{{ r.given_name }}</td>
                            <td>{{ r.manufac_model }}</td>
                            <td>{{ r.manufac_id }}</td>
                            <td><a href="{% url 'husqam:robot-daily' r.id %}">daily activity</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="text-info">At this time, there are no robots in your account.</p>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <h2>Publicly visible robots</h2>
            {% if public_robots %}
            {% else %}
                <p class="text-info">At this time, no robots have been made available for public viewing.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
