{% extends "Basis.html" %}
{% load staticfiles %}

{% block title %}Load JSON{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
            <h1>Load JSON</h1>

            {% if form.errors or form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    Beim Verarbeiten des Formulars sind Fehler aufgetreten.
                    Die Daten wurden noch nicht gespeichert.
                    Beheben Sie die unten aufgeführten Probleme und senden Sie das Formular erneut.
                </div>
            {% endif %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>
            {% endif %}

            <div class="well">
                <form method="post" class="form-horizontal" style="margin-top: 15px;">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
